@model IEnumerable<Compra_de_Entradas.Models.Movie_fav>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Favorite movie</h1>
    <p>Here you can see the movie that you want.</p>
</div>
<hr>
<h1>Favorite Movies</h1>

<form action="../../form-result.php" method="post" target="_blank">
    <p>
        Buscar pelicula: <input type="search" name="campobusqueda" list="listamascotas">
        <input type="submit" value="Search">
    </p>
</form>
<datalist id="">
</datalist>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var peli in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => peli.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => peli.Duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => peli.Anio)
                </td>
                <td>
                    <a asp-controller="Pelis" asp-action="Delete" asp-route-id="@peli.Id_pelicula" class="btn btn-danger btn-sm">Delete</a>
                    <a asp-controller="Compra" asp-action="Ticket" asp-route-id="@peli.Id_pelicula" class="btn btn-info btn-sm">Comprar Entradas</a>
                </td>
            </tr>
        }
    </tbody>
</table>
